body {
  font-family: Verdana;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #d6d4d4;
  font-size: 0.6rem;
}

table {
  float: left;
  margin-right: 30px;
}

th {
  background-color: #d6d4d4;
}

th, td {
  padding: 2px;
}

.checkbox {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  margin-left: 14px;
}

.center-align {
  text-align: center;
}

img.piece {
  padding: 4px;
  width: 30px;
}
